@import "~bootstrap/scss/bootstrap";

.jumbotron{
    background-image: url("/resources/img/jumbotron.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.info >*{
    width: 100px;
    height: auto;
}
footer{ 
    background-image: url(/resources/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}